<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- and/or link to your own css -->
  <link href="/style.css" rel="stylesheet" />

  <link rel="icon" href="/favicon.png" type="image/x-icon" />

  <title><%= title %></title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/GOT">Game of Thrones</a></li>
      <!-- <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li> -->
    </ul>
  </nav>

  <p>This content comes from the partial <code>/views/partials/header.ejs</code></p>

  <h1><%= title %></h1>