<%- include("../partials/header.ejs", {title: "Favourites"}) %>

<p>This content comes from <a href="https://www.tvmaze.com/shows/82/game-of-thrones">TVMaze - Game of Thrones</a></p>

<section>



</section>

<%- include("../partials/footer.ejs") %>