<%- include("../partials/header.ejs", {title: "Main Page"}) %>


<p>This content comes from <code>/views/pages/GOT.ejs</code></p>

<section>

  <p>You should put stuff here.</p>
</section>

<%- include("../partials/footer.ejs") %>